<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h1>Mtickets.</h1>
      <h2>
        An event tickets sales application.
      </h2>
      <div class="btn-group hidden-sm">
        <%= render 'buttons' %>
      </div>
      <div class="btn-group-vertical visible-sm">
        <%= render 'buttons' %>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag('boy.png', alt: 'boy', class: 'img-responsive') %>
    </div>
  </div>
</div>

<div id="front-page" class="row">
  <div class="col-md-4">
    <%= image_tag('ticket.png', alt: 'ticket', class: 'img-responsive center-block') %>
    <p class="main-text">
      For your need of buying tickets, you are covered. This application does exactly that. It is work in progress, but has a big hope to get bigger.
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag('credit-card.png', alt: 'credit card', class: 'img-responsive center-block') %>
    <p class="main-text">
      You at last finished your art work, expo preparation? We’ll customize a ticket for you. You can send it off to friends, family, neighbors, coworkers and first dates.
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag('puppet-show.png', alt: 'puppet show', class: 'img-responsive center-block') %>
    <p class="main-text">
      Our philosophy is simple--handling flawless tickets sales, so you can do what you do best: create. 
    </p>
  </div>
</div>
