 <div class="col-sm-12">
  <h1>Hello <%= @user.first_name %>!</h1>
  <%= link_to "sell tickets", new_event_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "buy tickets", events_path, class: "btn btn-lg btn-primary" %>
</div>
<br />
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <% if @user.managed_events.empty? && @user.tickets.empty?%>
      <h2>Welcome to your dashboard.</h2>
      <p>This is where the magic happens! See your events, track your sales, or just pull up your tickets and track your calendar. All in one place. We like to call this the peanut gallery, feel free to call it that too. To start, <a href=<%= new_event_path %>>set up an event</a> or <a href=<%= coming_soon_path %>>purchase some tickets.</a></p>
    <% else %>
      <% if @user.managed_events.present? %>
        <h2>Events you manage.</h2>
        <%= render 'managed_events', events: @user.managed_events %>
      <% end %>
      <% if @user.tickets.present? %>
        <h2>Events you are attending.</h2>
        <%= render 'tickets', tickets: @user.tickets %>
      <% end %>
    <% end %>
  </div>
</div>